.admin-dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #2b3747; 
  color: white;
}

.sidebar {
  width: 220px;
  background-color: #1f2937;
  color: white;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 6px 0 18px rgba(0, 0, 0, 0.35), 0 10px 18px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0; 
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
  color: #93c5fd; 
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.tab-btn {
  background-color: #374151;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.774);
  font-weight: 500;
  width: 100%;
  text-align: center;
  outline: none;
}

.tab-btn:hover {
  background-color: #4b5563;
  color: white;
}

.tab-btn.active {
  background-color: #2a5bc4ce;
  box-shadow: 0 6px 20px rgba(37, 99, 235, 0.4);
  color: white;
  font-weight: bold;
}

.main-content {
  background-color: #2b3747;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.admin-card {
  background-color: transparent;
  margin-top: 40px;
  border-radius: 12px;
  max-width: 1000px;           
  width: 100%;
  display: flex;
  flex-direction: column;

}