.admin-login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2b3747;
  color: white;
  padding: 32px;
  box-sizing: border-box;
}

.admin-login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.login-card {
  background-color: #374151;
  margin-top: 71px;
  padding: 40px 48px;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.418);
  max-width: 700px;
  width: 100%;
  text-align: left;
  height: 305px;
}

.login-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
  color: #93c5fd;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);
}

.login-form {
  display: grid;
  gap: 30px;
}

.login-input {
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #4b5563;
  background-color: #1b2430;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.418);
}

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.678);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);
}

.login-btn {
  width: 150px;
  margin: auto;
  padding: 12px 24px;
  background-color: #2a5bc4ce;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.582);
}

.login-btn:hover {
  background-color: #3571f1ce;
}

.login-error {
  height: 40px;
  width: 180px;
  margin: auto;
  align-content: center;
  border-radius: 8px;
  background-color: #fa230613;
  color: #df5959;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);
    box-shadow: 0 2px 10px rgba(7, 7, 7, 0.808);
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}