.header {
  background-color: #19222e;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);
  padding: 16px 0;
  position: relative;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 24px;
  font-size: 18px;
  align-items: center;
}

.nav-link {
  background-color: #37415179;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.89);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.774);
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #535e70;
  color: white;
}

.nav-link.active {
  background-color: #2a5bc4ce;
  box-shadow: 0 6px 20px rgba(37, 99, 235, 0.4);
  color: white;
}

.logout-btn {
  background: none;
  background-color:  #37415179;
  border: none;
  font: inherit;
  cursor: pointer;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.logout-btn:hover {
  background-color: #f17373;
  color: white;
}